<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shakeboy.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="com.shakeboy.pojo.Book">
        <result column="book_id" jdbcType="INTEGER" property="bookId" />
        <result column="book_name" jdbcType="VARCHAR" property="bookName" />
        <result column="book_description" jdbcType="VARCHAR" property="bookDescription" />
        <result column="book_image" jdbcType="VARCHAR" property="bookImage" />
        <result column="book_content" jdbcType="VARCHAR" property="bookContent" />
        <result column="book_type" jdbcType="VARCHAR" property="bookType" />
        <result column="book_Author" jdbcType="VARCHAR" property="bookAuthor" />
    </resultMap>

    <select id="searchByKeyvalue" resultType="com.shakeboy.pojo.Book">
        select * from books
        where book_name like  "%" #{keyvalue} "%"
        or book_description like "%"#{keyvalue}"%"
        or book_author like "%"#{keyvalue}"%"
        or book_type like "%"#{keyvalue}"%"
    </select>

</mapper>